 <footer id="footer" class="overflow-hidden padding-large">
    <div class="container">
      <div class="row d-flex flex-wrap justify-content-between">
        <div class="col-lg-3 col-md-6 col-sm-6 pb-3">
          <div class="footer-menu">
            <img src="../../assets/images/Logo.png" alt="footer logo" class="pb-4" />
            <p class="fw-semibold">"Partner with a future you can trust."</p>
          </div>
        </div>
        <div class="col-lg-2 col-md-6 col-sm-6 pb-3">
          <div class="footer-menu">
            <ul class="menu-list list-unstyled">
              <li class="pb-2 fw-bold text-capitalize">
                <a href="#about">Home</a>
              </li>
              <li class="pb-2 fw-bold text-capitalize">
                <a href="#">Services</a>
              </li>
              <li class="pb-2 fw-bold text-capitalize">
                <a href="#">News</a>
              </li>
              <li class="pb-2 fw-bold text-capitalize">
                <a href="#">Terms of use</a>
              </li>
              <li class="pb-2 fw-bold text-capitalize">
                <a href="#">Privacy Policy</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 pb-3">
          <div class="footer-menu">
            <ul class="menu-list list-unstyled">
              <li class="pb-2 fw-bold text-capitalize">
                <a href="#">About </a>
              </li>
              <li class="pb-2 fw-bold text-capitalize">
                <a href="#">Contact </a>
              </li>
              <li class="pb-2 fw-bold text-capitalize">
                <a href="#">FAQs</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 pb-3">
          <div class="footer-menu">
            <ul class="menu-list list-unstyled">
              <li class="pb-2 fw-bold text-capitalize">
                <svg class="text-primary" width="25" height="20" aria-hidden="true">
                  <use xlink:href="#location"></use>
                </svg>
                16 Baker St, Rosebank, Johannesburg
              </li>
              <li class="pb-2 fw-bold text-capitalize">
                <svg class="text-primary" width="25" height="20" aria-hidden="true">
                  <use xlink:href="#call"></use>
                </svg>+27 71 288 0296</li>
              <li class="pb-2 fw-bold ">
                <svg class="text-primary" width="25" height="20" aria-hidden="true">
                  <use xlink:href="#mail"></use>
                </svg>
                <a >info&#64;khon.co.za</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
