<section id="intro" class="jarallax" style="background: url('../../assets/images/call-to-action.jpg');">
        <div class="container-sm pt-5" data-aos="fade-up">
            <div class="row py-5 ">
                <div class=" banner-content my-5 py-5 ">
                    <h1 class="banner-title light text-titlecase fw-bold">About Us</h1>
                    <nav class="breadcrumb mt-3 ">
                        <a class="breadcrumb-item text-white" href="index.html">Home</a>
                        <span class="breadcrumb-item active text-white" aria-current="page">/ About Us</span>
                    </nav>
                </div>
            </div>
        </div>
</section>

 <section id="about-us" class="mt-5 pt-5">

        <div class="vertical-element"  data-aos="fade-up">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-5">
                        <div class="image-holder">
                            <img src="../../assets/images/tipperTruc.jpg" alt="about-us" class="img-fluid" style="border-radius: 10px;">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="section-element ps-0 p-5">
                          <div class="section-header mb-4">
                            <h2 class="left-pattern text-uppercase">About Us</h2>
                            <h3 class="text-titlecase">Get to Know Us?</h3>
                          </div>

                            <p>Khon’Structure was launched in April 2024, with the mission of usingconstruction and
                               infrastructuredevelopment to create perpetual incomethrough alternative investments.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="vertical-element mt-md-5 py-md-5"  data-aos="fade-up">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-7">
                        <div class="section-element ps-0 p-5">
                          <div class="section-header mb-4">
                            <h2 class="left-pattern text-uppercase">Our Services</h2>
                            <h3 class="text-titlecase">Choose us for high-value investment opportunities in construction assets</h3>
                          </div>
                            <p>We create Investment Chambers (ICs) thatallow individuals to own
                              fractions ofconstruction plant and earn monthlyincome in accordance with the ratio ofyour investment.</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="image-holder text-right">
                            <img src="../../assets/images/concreteMixer.jpg" alt="about-us" class="img-fluid" style="border-radius: 10px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
      <section id="blog" class="padding-large position-relative">
    <div class="container">
      <div class="section-header col-lg-4">
        <h2 class="text-uppercase mb-3 left-pattern"></h2>
        <h3 class="text-titlecase">Investment Construction Meets Finance</h3>
      </div>
      <div class="row mt-5 mt-lg-0">
        <div class="col-md-4 mb-4 mt-4">
          <!-- <a href="blog-single.html"><img src="images/blog1.jpg" alt="image" class="img-fluid rounded-3"></a> -->
          <p class="blog text-capitalize mt-3 fw-semibold">INVESTMENT APPROACH</p>
          <h4 class="blog-heading fw-semibold"><a href="blog-single.html">View info</a></h4>
        </div>
        <div class="col-md-4 mb-4 mt-4">
          <!-- <a href="blog-single.html"><img src="images/blog2.jpg" alt="image" class="img-fluid rounded-3"></a> -->
          <p class="blog text-capitalize mt-3 fw-semibold">INDUSTRY EXPERTISE</p>
          <h4 class="blog-heading fw-semibold"><a href="blog-single.html">View info</a></h4>
        </div>
        <div class="col-md-4 mb-4 mt-4">
          <!-- <a href="blog-single.html"><img src="images/blog3.jpg" alt="image" class="img-fluid rounded-3"></a> -->
          <p class="blog text-capitalize mt-3 fw-semibold">COMMUNITY IMPACT</p>
          <h4 class="blog-heading fw-semibold"><a href="blog-single.html">View info</a></h4>
        </div>
      </div>
      <div class="btn d-flex justify-content-center">
        <a href="#" class="btn-slide btn-medium btn-dark hover-slide-right mt-5">
          <span class="text-titlecase">All Articles
            <svg class="btn-arrow text-white" width="18" height="18">
              <use xlink:href="#btn-arrow"></use>
            </svg>
          </span>
        </a>
      </div>
    </div>


  </section>
