<section id="intro" class="jarallax" style="background: url('../../assets/images/call-to-action.jpg');">
        <div class="container-sm pt-5" data-aos="fade-up">
            <div class="row py-5 ">
                <div class=" banner-content my-5 py-5 ">
                    <h1 class="banner-title light text-titlecase fw-bold">Company Profile</h1>
                    <nav class="breadcrumb mt-3 ">
                        <a class="breadcrumb-item text-white" href="index.html">Home</a>
                        <span class="breadcrumb-item active text-white" aria-current="page">/Company Profile</span>
                    </nav>
                </div>
            </div>
        </div>
</section>

 <section id="about-us" class="mt-5 pt-5">
        <div class="vertical-element"  data-aos="fade-up">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="row">
                        <div class="section-header mb-4">
                            <h2 class="left-pattern text-uppercase"><b>Company Profile</b></h2>
                            <p>Khon'Structure is an innovative South African infrastructure development enabler and investment platform, dedicated to empowering communities and advancing the nation's critical infrastructure.</p>
                         </div>
                         <hr>
                    </div>
                    <div class="col-md-8">
                           <div class="section-element ps-0 p-5">


                            <p>
                                Established in 2024, Khon'Structure operates in South Africa, directly addressing the scarcity of, high-quality construction equipment and fostering inclusive economic growth. Led by founder Ndabenhle Ntshangase, with the guidance of seasoned engineering and transport sector advisors, Khon'Structure is built on a foundation of integrity, professionalism, and an unwavering commitment to quality in all its operations.
                                Khon'Structure's unique approach combines the provision of high-performance construction plant, with a pioneering fractional ownership model. This innovative digital solution allows everyday individuals, particularly those within communities where development is taking place, to invest in tangible assets and earn returns, thereby directly participating in and benefiting from local infrastructure growth.<br>
                                Our vision is to be a leading force in South Africa's infrastructure landscape, not only by providing essential equipment but also by democratizing investment and creating shared value that empowers communities and drives sustainable economic development.
                            </p>
                            <span><hr style="width: 30%; margin-left: 0px;"></span>
                            <h5>Our Accreditations</h5>
                            <div class="d-flex">
                                <div><img src="../../assets/images/right-corner.png" style="margin-left: 5px;"><span class="icon">Level 1 BEE Youth Owned Business</span></div>
                                <div ><img src="../../assets/images/right-corner.png" style="margin-left: 10px;"><span class="icon">CIBD Grade 1 GB</span></div>
                                <div ><img src="../../assets/images/right-corner.png" style="margin-left: 10px;"><span class="icon">CIBD Grade 2 CE</span></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                       <div class="image-holder">
                            <img src="../../assets/images/tipperTruc.jpg" alt="about-us" class="img-fluid" style="border-radius: 10px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="vertical-element mt-md-5 py-md-5"  data-aos="fade-up">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-md-7">
                        <div class="section-element ps-0 p-5">
                          <div class="section-header mb-4">
                            <h2 class="left-pattern text-uppercase">Our Services</h2>
                            <h3 class="text-titlecase">Choose us for high-value investment opportunities in construction assets</h3>
                          </div>
                            <p>We create Investment Chambers (ICs) thatallow individuals to own
                              fractions ofconstruction plant and earn monthlyincome in accordance with the ratio ofyour investment.</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="image-holder text-right">
                            <img src="../../assets/images/concreteMixer.jpg" alt="about-us" class="img-fluid" style="border-radius: 10px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
      <section id="blog" class="padding-large position-relative">
    <div class="container">
      <div class="section-header col-lg-4">
        <h2 class="text-uppercase mb-3 left-pattern"></h2>
        <h3 class="text-titlecase">Construction Meets Finance</h3>
      </div>
      <div class="row mt-5 mt-lg-0">
        <div class="col-md-4 mb-4 mt-4">
          <!-- <a href="blog-single.html"><img src="images/blog1.jpg" alt="image" class="img-fluid rounded-3"></a> -->
          <p class="blog text-capitalize mt-3 fw-semibold">INVESTMENT APPROACH</p>
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addContenttoModal('INVESTMENT APPROACH')" >
            <img src="../../assets/images/handShake.PNG" class="ConMeetsFinImg">
          </a>
          <!-- <h6 class="blog-heading fw-semibold">
            <a href="#" class="btn-slide btn-medium btn-main-color hover-slide-right mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <span class="text-titlecase text-white" >Read more...
                <svg class="btn-arrow text-white" width="15" height="15">
                  <use xlink:href="#btn-arrow"></use>
                </svg>
              </span>
            </a>
          </h6> -->
        </div>
        <div class="col-md-4 mb-4 mt-4">
          <!-- <a href="blog-single.html"><img src="images/blog2.jpg" alt="image" class="img-fluid rounded-3"></a> -->
          <p class="blog text-capitalize mt-3 fw-semibold">INDUSTRY EXPERTISE</p>
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addContenttoModal('INDUSTRY EXPERTISE')">
            <img src="../../assets/images/helmet.PNG" class="ConMeetsFinImg">
          </a>
           <!-- <h6 class="blog-heading fw-semibold">
            <a href="#" class="btn-slide btn-medium btn-main-color hover-slide-right mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <span class="text-titlecase text-white">Read more...
                <svg class="btn-arrow text-white" width="15" height="15">
                  <use xlink:href="#btn-arrow"></use>
                </svg>
              </span>
            </a>
          </h6> -->
        </div>
        <div class="col-md-4 mb-4 mt-4">
          <!-- <a href="blog-single.html"><img src="images/blog3.jpg" alt="image" class="img-fluid rounded-3"></a> -->
          <p class="blog text-capitalize mt-3 fw-semibold">COMMUNITY IMPACT</p>
          <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="addContenttoModal('COMMUNITY IMPACT')">
             <img src="../../assets/images/community.PNG" class="ConMeetsFinImg">
          </a>
          <!-- <h6 class="blog-heading fw-semibold">
            <a href="#" class="btn-slide btn-medium btn-main-color hover-slide-right mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <span class="text-titlecase text-white">Read more...
                <svg class="btn-arrow text-white" width="15" height="15">
                  <use xlink:href="#btn-arrow"></use>
                </svg>
              </span>
            </a>
          </h6> -->
        </div>
      </div>
    </div>


  </section>
  <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{currentTitle}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {{currentContent}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-main-color text-white" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
