  <section id="intro" class="jarallax" style="background: url('../../assets/images/call-to-action.jpg');">
    <div class="container-sm pt-5" data-aos="fade-up">
        <div class="row py-5 ">
            <div class=" banner-content my-5 py-5 ">
                <h1 class="banner-title light text-titlecasw fw-bold">Chamber</h1>
                <nav class="breadcrumb mt-3 ">
                    <a class="breadcrumb-item text-white" routerLink="/home">Home</a>
                    <span class="breadcrumb-item active text-white" aria-current="page">/Chamber</span>
                </nav>
            </div>
        </div>
    </div>
</section>
<section id="services" class="align-items-center" *ngIf="viewPortSubject.value === 'all'">
  <div class="container mt-5 pt-5" data-aos="fade-up" data-aos-duration="2000">
      <div class="section-header my-5">
          <h2 class="text-uppercase my-3 left-pattern">Our Chamber</h2>
          <h3 class="text-titlecase">What we provide</h3>
        </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 my-5">
            <div class="card card-shadow" style="width: 18rem;">
              <div style="float: right; position: relative;">
                 <button class="btn btn-arrow   fs-6 btn-light arrow-icons" (click)="setView('tipper')">
                  <i class="bi bi-arrow-right" style="padding: 1rem;"></i>
                </button>
              </div>
              <img src="../../assets/images/card-tipper.PNG" class="card-img-top" alt="Tipper Truck">
                <div class="card-body">
                  <h5 class="card-title">The 10m3 Tipper Truck</h5>
                  <div class="row">
                    <div class="col-6" style="margin-bottom: 0px;">
                        <b>Funding Target:</b>
                    </div>
                     <div class="col-6">
                        <b>R1,218,214</b>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-12" >
                       <p style="margin-bottom: 0px;color: #002B7F;">53.78% Funded</p>
                    </div>
                     <div class="progress col-10" style="padding: 0px; margin-left: 10px; margin-right: 8px;">
                         <div class="progress-bar" role="progressbar" style="width: 75%; background: #f1a500;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                       Internal Rate of Return (IRR)
                    </div>
                    <div class="col-md-4">
                        <b>15.00</b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                       Est Net Rental Yield
                    </div>
                    <div class="col-md-4">
                        <b>0%</b>
                    </div>
                  </div>
                    <div class="row">
                    <div class="col-md-8">
                       Market Valuation
                    </div>
                    <div class="col-md-4">
                        <b>R0</b>
                    </div>
                  </div>
                  <div class="row" style="margin: auto;">
                      <a class="btn-slide btn-medium btn-dark hover-slide-right text-uppercase mt-3 btn-main-color" (click)="setView('tipper')">
                        <span class="m-auto text-center" >View Asset</span>
                      </a>
                  </div>
                </div>
            </div>
        </div>
      <div class="col-lg-4 col-md-6 my-5">
          <div class="card card-shadow" style="width: 18rem;">
               <div style="float: right; position: relative;">
                 <button class="btn btn-arrow   fs-6 btn-light arrow-icons" (click)="setView('water')">
                  <i class="bi bi-arrow-right" style="padding: 1rem;"></i>
                </button>
              </div>
              <img src="../../assets/images/water-tank-card.PNG" class="card-img-top" alt="Water Tanker Truck">
                            <div class="card-body">
                  <h5 class="card-title">Water Tanker Truck</h5>
                  <div class="row">
                    <div class="col-6" style="margin-bottom: 0px;">
                        <b>Funding Target:</b>
                    </div>
                     <div class="col-6">
                        <b>R718,214</b>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-12" >
                       <p style="margin-bottom: 0px;color: #002B7F;">42.98% Funded</p>
                    </div>
                     <div class="progress col-10" style="padding: 0px; margin-left: 10px; margin-right: 8px;">
                         <div class="progress-bar" role="progressbar" style="width: 42%; background: #f1a500;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                       Internal Rate of Return (IRR)
                    </div>
                    <div class="col-md-4">
                        <b>15.00</b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                       Est Net Rental Yield
                    </div>
                    <div class="col-md-4">
                        <b>0%</b>
                    </div>
                  </div>
                    <div class="row">
                    <div class="col-md-8">
                       Market Valuation
                    </div>
                    <div class="col-md-4">
                        <b>R0</b>
                    </div>
                  </div>
                  <div class="row" style="margin: auto;">
                      <a class="btn-slide btn-medium btn-dark hover-slide-right text-uppercase mt-3 btn-main-color" (click)="setView('water')">
                        <span class="m-auto text-center" t>View Asset</span>
                      </a>
                  </div>
                </div>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 my-5">
          <div class="card card-shadow" style="width: 18rem;">
               <div style="float: right; position: relative;">
                 <button class="btn btn-arrow   fs-6 btn-light arrow-icons" (click)="setView('exca')">
                  <i class="bi bi-arrow-right" style="padding: 1rem;"></i>
                </button>
              </div>
              <img src="../../assets/images/excavator-card.PNG" class="card-img-top" alt="...">
                           <div class="card-body">
                  <h5 class="card-title">Excavator</h5>
                  <div class="row">
                    <div class="col-6" style="margin-bottom: 0px;">
                        <b>Funding Target:</b>
                    </div>
                     <div class="col-6">
                        <b>R1,218,214</b>
                    </div>
                  </div>
                  <div class="row mt-4">
                    <div class="col-12" >
                       <p style="margin-bottom: 0px;color: #002B7F;">30.00% Funded</p>
                    </div>
                     <div class="progress col-10" style="padding: 0px; margin-left: 10px; margin-right: 8px;">
                         <div class="progress-bar" role="progressbar" style="width: 30%; background: #f1a500;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                       Internal Rate of Return (IRR)
                    </div>
                    <div class="col-md-4">
                        <b>15.00</b>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                       Est Net Rental Yield
                    </div>
                    <div class="col-md-4">
                        <b>0%</b>
                    </div>
                  </div>
                    <div class="row">
                    <div class="col-md-8">
                       Market Valuation
                    </div>
                    <div class="col-md-4">
                        <b>R0</b>
                    </div>
                  </div>
                  <div class="row" style="margin: auto;">
                      <a class="btn-slide btn-medium btn-dark hover-slide-right text-uppercase mt-3 btn-main-color" (click)="setView('exca')" >
                        <span class="m-auto text-center" t>View Asset</span>
                      </a>
                  </div>
                </div>
            </div>
      </div>
    </div>
  </div>
  </section>
  <div *ngIf="['tipper','exca','water'].includes(viewPort)">
      <app-single-assets [assetName]="viewPort" [assestData]="chosenView" (onBackClick)="changetoAllView()"></app-single-assets>
  </div>

