<section id="intro" class="jarallax" style="background: url('../../assets/images/call-to-action.jpg');">
  <div class="container-sm pt-5" data-aos="fade-up">
      <div class="row py-5 ">
          <div class=" banner-content my-5 py-5 ">
              <h1 class="banner-title light text-titlecase fw-bold">Projects</h1>
              <nav class="breadcrumb mt-3 ">
                  <a class="breadcrumb-item text-white" routerLink="/home">Home</a>
                  <span class="breadcrumb-item active text-white" aria-current="page">/Projects</span>
              </nav>
          </div>
      </div>
  </div>
</section>

<section id="projects" class="padding-large">
  <div class="container">
    <div class="section-header mb-5" >
      <h2 class="text-uppercase mb-3 left-pattern">Our Projects</h2>
      <h3 class="text-titlecase">Our Projects are as follows:</h3>
    </div>
    <div class="projects-isotope">
      <div class="row isotope-container">
        <div class="col-lg-4 col-md-6 item building">
          <div class="projects-content mx-auto">
            <a href="#"> <img src="../../assets/images/project-1.jpg" class="reveal-curve-top" alt="building"> </a>
          </div>
          <h4 class="fs-5 fw-bold text-titlecase text-center mt-3 mb-5">
            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal04" >Rehabilitation of National Route R56 from Matatiele to KwaZulu Natal border.</a>
          </h4>
        </div>
        <div class="col-lg-4 col-md-6 item renovate">
          <div class="projects-content mx-auto">
            <a href="project-single.html"> <img src="../../assets/images/project-2.jpg" class="img-fluid" alt="building"> </a>
          </div>
          <h4 class="fs-5 fw-bold text-titlecase text-center mt-3 mb-5">
            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal05">Khon’Structure successfully completed its involvement in the Provision of Construction Plant... </a>
          </h4>
        </div>
        <div class="col-lg-4 col-md-6 item industry">
          <div class="projects-content mx-auto">
            <a href=""> <img src="../../assets/images/project-3.jpg" class="img-fluid" alt="building"> </a>
          </div>
          <h4 class="fs-5 fw-bold text-titlecase text-center mt-3 mb-5">
            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal06">Khon’Structure is currently engaged in a key project for the Rehabilitation of R415...</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="jarallax d-flex align-items-center padding-large" style="
          background-image: url('../../assets/images/call-to-action.jpg');
          width: 100%;
          height: 567px;
          background-repeat: no-repeat;
          background-position: center;
        ">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h4 class=" display-2 text-center text-white text-titlecase ">
            If you have any inquiries about our projects, please don’t hesitate to get in touch?
          </h4>
          <div class="btn d-flex justify-content-center">
            <a href="#" class="btn-slide btn-medium btn-main-color hover-slide-right mt-5" routerLink="/contact">
              <span class="text-titlecase text-white" >Get in touch
                <svg class="btn-arrow text-white" width="18" height="18">
                  <use xlink:href="#btn-arrow"></use>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
</section>

<div class="modal fade" id="exampleModal04" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        We have been formally appointed by Down Touch Investment (Pty)Ltd as a sub-contractor responsible for supplying essential construction vehicles (plant) for their ongoing project with SANRAL. This collaboration underscores our commitment to supporting vital infrastructure
        development in South Africa by ensuring availability of reliable equipment. The project commenced in April 2024, and will continue through to 2030.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-main-color text-white" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal05" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Khon’Structure successfully completed its involvement in the Provision of Construction Plant for the Widening of Mvunyane River Bridge No. 3808 and Replacement Culvert No. STC 4007 on P258. Working as the sub-contractor for Mqhelewethu
        Cnice Logistics JV Msalela, Khon;Structure supplied essential construction plant for this project. The project commenced in July 2024.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-main-color text-white" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal06" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
       Khon’Structure is currently engaged in a key project for the Rehabilitation of R415 from Malusi to the Lesotho border. Under a sub-contractor agreement initiated in February 2025, Khon’Structure is supplying essential construction plant to Gemini Industrial Group along with VEA Roads.
       The project is ongoing and is expected to continue through to 2029. From there it is likely that Khon’Structure will be contracted to provide plant for the tarring of the road.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-main-color text-white" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
