<section id="intro" class="jarallax" style="background: url('../../assets/images/call-to-action.jpg');">
  <div class="container-sm pt-5" data-aos="fade-up">
      <div class="row py-5 ">
          <div class=" banner-content my-5 py-5 ">
              <h1 class="banner-title light text-titlecase fw-bold">Projects</h1>
              <nav class="breadcrumb mt-3 ">
                  <a class="breadcrumb-item text-white" routerLink="/home">Home</a>
                  <span class="breadcrumb-item active text-white" aria-current="page">/Projects</span>
              </nav>
          </div>
      </div>
  </div>
</section>

<section id="projects" class="padding-large">
  <div class="container">
    <div class="section-header offset-lg-4">
      <h2 class="text-uppercase mb-3 left-pattern">Our Projects</h2>
      <h3 class="text-titlecase">Explore the projects we’ve contributed to and been proudly involved in</h3>
    </div>
    <div class="projects-isotope">
      <div class="row isotope-container">
        <div class="col-lg-4 col-md-6 item building">
          <div class="projects-content mx-auto">
            <a href="#"> <img src="../../assets/images/project-1.jpg" class="reveal-curve-top" alt="building"> </a>
          </div>
          <h4 class="fs-5 fw-bold text-titlecase text-center mt-3 mb-5">
            <a href="project-single.html">Tarring of Shati Bridge- Richmond, kzn </a>
          </h4>
        </div>
        <div class="col-lg-4 col-md-6 item renovate">
          <div class="projects-content mx-auto">
            <a href="project-single.html"> <img src="../../assets/images/project-2.jpg" class="img-fluid" alt="building"> </a>
          </div>
          <h4 class="fs-5 fw-bold text-titlecase text-center mt-3 mb-5">
            <a href="project-single.html">R34 Upgrade- Vryheid, kzn </a>
          </h4>
        </div>
        <div class="col-lg-4 col-md-6 item industry">
          <div class="projects-content mx-auto">
            <a href="#"> <img src="../../assets/images/project-3.jpg" class="img-fluid" alt="building"> </a>
          </div>
          <h4 class="fs-5 fw-bold text-titlecase text-center mt-3 mb-5">
            <a href="project-single.html">New Bridge Construction- Newcastle, kzn </a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="jarallax d-flex align-items-center padding-large" style="
          background-image: url('../../assets/images/call-to-action.jpg');
          width: 100%;
          height: 567px;
          background-repeat: no-repeat;
          background-position: center;
        ">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h4 class=" display-2 text-center text-white text-titlecase ">
            If you have any inquiries about our projects, please don’t hesitate to get in touch?
          </h4>
          <div class="btn d-flex justify-content-center">
            <a href="#" class="btn-slide btn-medium btn-main-color hover-slide-right mt-5" routerLink="/contact">
              <span class="text-titlecase text-white" >Get in touch
                <svg class="btn-arrow text-white" width="18" height="18">
                  <use xlink:href="#btn-arrow"></use>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
</section>
