   <nav id="header-nav" class="navbar navbar-expand-lg p-3 py-4 container-fluid border-bottom position-fixed">
        <div class="container-fluid">
          <a class="navbar-brand" href="index.html">
            <img src="../../assets/images/Logo.png" class="logo" />
          </a>
          <button class="navbar-toggler d-flex d-lg-none order-3 p-2 shadow-none" type="button"
            data-bs-toggle="offcanvas" data-bs-target="#bdNavbar" aria-controls="bdNavbar" aria-expanded="false"
            aria-label="Toggle navigation">
            <svg class="navbar-icon text-black">
              <use xlink:href="#navbar-icon"></use>
            </svg>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="bdNavbar" aria-labelledby="bdNavbarOffcanvasLabel">
            <div class="offcanvas-header px-4 pb-0">
              <button type="button" class="btn-close btn-close-black" data-bs-dismiss="offcanvas" aria-label="Close"
                data-bs-target="#bdNavbar"></button>
            </div>
            <div class="offcanvas-body">
              <ul id="navbar"
                class="navbar-nav text-titlecase fw-bold justify-content-lg-center justify-content-md-end align-items-center text-center flex-grow-1 text-hover">
                <li class="nav-item me-5">
                  <a class="nav-link text-titlecase fw-bold" routerLink="/home" [ngClass]="activeRoute === '/home' ? 'active': ''" >Home</a>
                </li>
                <li class="nav-item me-5">
                  <a class="nav-link text-titlecase fw-bold" routerLink="/about" [ngClass]="activeRoute === '/about' ? 'active': ''"  >About</a>
                </li>
                <li class="nav-item me-5">
                  <a class="nav-link text-titlecase fw-bold" routerLink="/projects" [ngClass]="activeRoute === '/projects' ? 'active': ''" >Projects</a>
                </li>
                <li class="nav-item me-5">
                  <a class="nav-link text-titlecase fw-bold" routerLink="/services" [ngClass]="activeRoute === '/services' ? 'active': ''" >Services</a>
                </li>
                <li class="nav-item me-5">
                  <a class="nav-link text-titlecase fw-bold" routerLink="/news" [ngClass]="activeRoute === '/news' ? 'active': ''">News</a>
                </li>
                 <li class="nav-item me-5">
                  <a class="nav-link text-titlecase fw-bold" routerLink="/chamber" [ngClass]="activeRoute === '/chamber' ? 'active': ''">chamber</a>
                </li>
                 <li class="nav-item me-5">
                  <a class="nav-link text-titlecase fw-bold" routerLink="/contact" [ngClass]="activeRoute === '/contact' ? 'active': ''" >contact us</a>
                </li>
              </ul>
              <div class="social-links d-flex mt-5 mt-lg-0 align-items-center justify-content-end">
                <ul class="navbar-nav list-unstyled align-items-center justify-content-end">
                  <li class="pe-4">
                    <a href="#">
                      <svg class="facebook" width="18" height="18">
                        <use xlink:href="#facebook"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="pe-4">
                    <a href="#" class="light">
                      <svg class="instagram" width="18" height="18">
                        <use xlink:href="#instagram"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="pe-4">
                    <a href="#" class="light">
                      <svg class="linkedin" width="18" height="18">
                        <use xlink:href="#linkedin"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="pe-4">
                    <a href="#" class="light">
                      <svg class="twitter" width="18" height="18">
                        <use xlink:href="#twitter"></use>
                      </svg>
                    </a>
                  </li>
                  <li class="pe-4">
                    <a href="#" class="light">
                      <svg class="blogger" width="18" height="18">
                        <use xlink:href="#blogger"></use>
                      </svg>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </nav>
