<section id="intro" class="jarallax" style="background: url('../../assets/images/call-to-action.jpg');">
  <div class="container-sm pt-5" data-aos="fade-up">
      <div class="row py-5 ">
          <div class=" banner-content my-5 py-5 ">
              <h1 class="banner-title light text-titlecase fw-bold">Services</h1>
              <nav class="breadcrumb mt-3 ">
                  <a class="breadcrumb-item text-white" routerLink="/home">Home</a>
                  <span class="breadcrumb-item active text-white" aria-current="page">/Services</span>
              </nav>
          </div>
      </div>
  </div>
</section>

<section id="services" class="align-items-center" >
      <div class="container mt-5 pt-5" data-aos="fade-up" data-aos-duration="2000">
          <div class="section-header my-5">
              <h2 class="text-uppercase my-3 left-pattern">Our Services</h2>
              <h3 class="text-titlecase">Solutions We Provide</h3>
            </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 my-5">
            <div class="service-item">
              <!-- symbols -->
               <img src="../../assets/images/tippercircular.png" style="filter: brightness(150%);">
              <h4 class=" fs-1"><i>The 10m3 Tipper Truck</i></h4>
              <p class="">Also known as the workhorse of any construction site. The minimum required to
                          join a Tipper Truck Investment Chamber is R100,000 (one hundred thousand
                          rands). Tipper trucks command anything from R300-R350excl. VAT per hour..</p>
            </div>
          </div>
          <div class="col-lg-12 col-md-12 my-5">
              <div class="service-item">
                <!-- symbols -->
                 <img src="../../assets/images/watertankercircular.png" style="filter: brightness(150%);">
                <h4 class=" fs-1"><i>Water Tanker Truck</i></h4>
                <p class="">Needed on almost every construction site, the 18,000L water tanker truck is a
                            perfect opportunity to invest in a long term construction cash cow. Unlike
                            excavators and tipper trucks, water tankers are rarely required to drive on
                            unfavorable terrain, meaning less maintenance costs and more benefits. These
                            vehicles command between R350-R400excl. VAT per hour and the minimum to
                            join one of these chambers is R150,000.
                </p>
              </div>
          </div>
           <div class="col-lg-12 col-md-12 my-5">
              <div class="service-item">
                <!-- symbols -->
                 <img src="../../assets/images/excavatorCircular.png" style="filter: brightness(150%);">
                <h4 class=" fs-1"><i>Excavator</i></h4>
                <p class="">
                  The famous saying goes, “Its not yet a construction site until you have an
                  excavator.” Excavators are needed in almost anything that has to do with
                  infrastructure. They are the backbone of the industry and demand is incredibly
                  high. Although this type of plant may sometimes not get long term contracts, it
                  commands high leasing values and is needed during all seasons. Joining an
                  Investment Chamber for this plant requires a minimum of R190,000.
             </p>
              </div>
          </div>
        </div>
      </div>
    </section>
<section id="contact" class="jarallax d-flex align-items-center padding-large" style="
background-image: url('../../assets/images/call-to-action.jpg');
width: 100%;
height: 567px;
background-repeat: no-repeat;
background-position: center;
">
<div class="container" data-aos="fade-up">
<div class="row justify-content-center">
<div class="col-md-8">
<h3 class=" display-2 text-center text-white text-titlecase ">
  Check out our Chamber page for more details on investing.
</h3>
<div class="btn d-flex justify-content-center">
  <a href="#" class="btn-slide btn-medium btn-main-color hover-slide-right mt-5" data-bs-toggle="modal" data-bs-target="#exampleModal2">
    <span class="text-titlecase text-white">Chamber
      <svg class="btn-arrow text-dark" width="18" height="18">
        <use xlink:href="#btn-arrow"></use>
      </svg>
    </span>
  </a>
</div>
</div>
</div>
</div>
</section>
<div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Please Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Chamber page will be avaliable soon...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-main-color text-white" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
