<section id="intro" class="jarallax" style="background: url('../../assets/images/call-to-action.jpg');">
  <div class="container-sm pt-5" data-aos="fade-up">
      <div class="row py-5 ">
          <div class=" banner-content my-5 py-5 ">
              <h1 class="banner-title light text-titlecase fw-bold">Services</h1>
              <nav class="breadcrumb mt-3 ">
                  <a class="breadcrumb-item text-white" routerLink="/home">Home</a>
                  <span class="breadcrumb-item active text-white" aria-current="page">/Services</span>
              </nav>
          </div>
      </div>
  </div>
</section>
<section id="services" class="align-items-center"  *ngIf="true">
    <div class="container mt-5 pt-5" data-aos="fade-up" data-aos-duration="2000">
          <div class="section-header my-5">
              <h2 class="text-uppercase my-3 left-pattern"><b>Our Services</b></h2>
              <p class="text-titlecase">Khon'Structure offers a comprehensive suite of services designed
                      to bridge critical gaps in the South African construction industry while simultaneously fostering inclusive economic participation.
                      Our core offerings include Construction Plant Leasing,
                       robust Plant and Fleet Management, and our innovative Investment Chambers
              </p>
            </div>
        <div class="row">
          <div class="col-lg-4 col-md-6 my-5">
            <div class="service-item">
              <!-- symbol -->
              <h4 class=" fs-1"> Construction Plant Leasing</h4>
              <p class="" *ngIf="!showConstructionPlantLeasing">Khon'Structure provides access to high-quality, well-maintained construction equipment,
                directly addressing the scarcity of adequate machinery for contractors across South Africa...
              </p>
               <p class="" *ngIf="showConstructionPlantLeasing">
                {{constructionPlantLeasing}}
              </p>
              <div *ngIf="!showConstructionPlantLeasing">
                   <a  class="btn-slide btn-medium btn-main-color hover-slide-right text-uppercase mt-3 text-white" (click)="showConstructionPlantLeasingPara()">
                <span>Read More</span>
              </a>
              </div>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-5">
            <div class="service-item">
              <!-- symbol -->
              <h4 class=" fs-1">Plant and Fleet Management</h4>
              <p class="" *ngIf="!showFleetManagement">
               Our commitment to operational excellence is underscored by our meticulous Plant and Fleet Management services.
               Khon'Structure ensures its equipment adheres to strict maintenance plans...
              </p>
              <p *ngIf="showFleetManagement">
                  {{fleetManagement}}
              </p>
              <div *ngIf="!showFleetManagement">
                <a  class="btn-slide btn-medium btn-main-color hover-slide-right text-uppercase mt-3 text-white" (click)="showFleetManagementPara()" >
                    <span>Read More</span>
                </a>
              </div>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 my-5">
            <div class="service-item">
              <!-- symbol -->
              <h4 class=" fs-1 service-item-heading"> Investment Chambers</h4><h5>(Fractional Ownership Platform)</h5>
              <p class="" *ngIf="!showInvestmentChambers">
                 Khon'Structure's most innovative offering is our alternative investment platform,
                  designed to give everyday people access to the lucrative construction industry...

              </p>
              <p class="" *ngIf="showInvestmentChambers">
                {{investmentChambers}}

              </p>
              <div *ngIf="!showInvestmentChambers" class="mt-4">
                  <a  class="btn-slide btn-medium btn-main-color hover-slide-right text-uppercase mt-3 text-white" (click)="showInvestmentChambersPara()">
                    <span>Read More</span>
                  </a>
              </div>

            </div>
          </div>
        </div>
      </div>
  </section>
  <div *ngIf="false">
    <div class="post-wrap py-5 no-padding-bottom">
      <div class="container">
         <div class="row flex-md-row-reverse g-5 mt-4">
            <main class="post-grid col-md-9">
              <div class="row">
                <article class="post-item">
                  <div class="section-header mb-5">
                      <h2 class="text-uppercase mb-3 left-pattern">providing the best</h2>
                      <h3 class="text-titlecase">Building New Homes</h3>
                  </div>
                    <p>Velit, praesent pharetra malesuada id pulvinar amet. Consequat potenti mollis
                        massa iaculis et,
                        dolor, eget lectus. Aliquam pellentesque molestie felis fames sed eget non
                        euismod eget. Et eget
                        ullamcorper urna, elit ac diam tellus viverra lacus.
                    </p>
                    <p>Id pulvinar amet. Consequat potenti mollis massa iaculis et, dolor, eget lectus.
                        Aliquam
                        pellentesque molestie felis fames sed eget non euismod eget. Et eget ullamcorper
                        urna, elit ac diam
                        tellus viverra lacus.
                    </p>
                    <div class="hero-image mt-5">
                        <img src="images/testimonial-bg.jpg" alt="single-post" class="img-fluid">
                    </div>
                    <div class="post-content py-5">
                        <div class="post-description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur facilisis
                                vivamus massa magna.
                                Blandit mauris libero condimentum commodo morbi consectetur sociis convallis
                                sit. Magna diam amet
                                justo sed vel dolor et volutpat integer. Iaculis sit sapien hac odio elementum
                                egestas neque.
                                Adipiscing purus euismod orci sem amet, et. Turpis erat ornare nisi laoreet est
                                euismod.</p>
                            <blockquote>“Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum,
                                amet dolor
                                curabitur non aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit
                                imperdiet enim, lacus,
                                vel.</blockquote>
                            <div class="my-5">
                                <h4 class="mb-3">Consectetur Facilisis Vivamus</h4>
                                <ul class="inner-list list-unstyled">
                                    <li><span class="price-tick">✓</span> Blandit mauris libero condimentum
                                        commodo
                                        sociis convallis sit.</li>
                                    <li><span class="price-tick">✓</span> Magna diam amet justo sed vel dolor et
                                        volutpat integer.</li>
                                    <li><span class="price-tick">✓</span> Laculis sit sapien hac odio elementum
                                        egestas neque.</li>
                                    <li><span class="price-tick">✓</span> Blandit mauris libero condimentum
                                        commodo
                                        sociis convallis sit.</li>
                                    <li><span class="price-tick">✓</span> Magna diam amet justo sed vel dolor et
                                        volutpat integer.</li>
                                    <li><span class="price-tick">✓</span> Laculis sit sapien hac odio elementum
                                        egestas neque.</li>
                                </ul>
                            </div>

                            <div class="row align-items-center my-4">
                                <div class="col-md-6">
                                    <img src="images/projects-item3.jpg" alt="post-image" class=" img-fluid align-left">
                                </div>
                                <div class="col-md-6">
                                    <h4 class="">Velit, praesent pharetra malesuada</h4>
                                    <p>Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros purus
                                        fermentum, massa
                                        ullamcorper sit sollicitudin. Nascetur libero elementum adipiscing mauris
                                        maecenas et magna. Etiam nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec
                                        pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus.
                                        Nascetur libero elementum adipiscing mauris
                                        maecenas et magna. Etiam
                                        nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec
                                        pellentesque.</p>
                                </div>
                                <p class="mt-5">Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros purus
                                    fermentum, massa
                                    ullamcorper sit sollicitudin. Nascetur libero elementum adipiscing mauris
                                    maecenas et magna. Etiam nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec
                                    pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus.
                                    Nascetur libero elementum adipiscing mauris
                                    maecenas et magna. Etiam
                                    nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec
                                    pellentesque.</p>
                            </div>
                        </div>
                    </div>
                </article>
                        </div>

                    </main>

                    <aside class="col-md-3">
                        <div class="post-sidebar">

                            <div class="widget block-tag border p-4 mb-5">
                                <h5 class="widget-title text-uppercase border-bottom pb-3 mb-3">Book Your Appointment</h5>
                                <p class="">Blandit mauris libero condimentum commodo morbi consectetur sociis convallis sit
                                </p>
                                <div class="">
                                    <a href="booking.html" class="btn-slide btn-medium btn-dark hover-slide-right text-uppercase">
                                        <span>Book Now</span>
                                      </a>
                                </div>


                            </div>
                              <div class="widget sidebar-recent-post mb-5">
                                <h5 class="widget-title text-uppercase border-bottom pb-3 mb-3">Recent Posts</h5>
                                <div class="sidebar-post-item d-flex justify-content-center">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="image-holder">
                                        <a href="#">
                                          <img src="images/projects-item9.jpg" alt="blog" class="img-fluid mt-2">
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-md-8">
                                      <div class="sidebar-post-content text-uppercase">
                                        <div class="post-meta fs-6 text-secondary">
                                          <span class="meta-date">jul 11, 2022</span>
                                        </div>
                                        <h5 class="post-title">
                                          <a href="#">How to clean home properly</a>
                                        </h5>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="sidebar-post-item d-flex justify-content-center">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="image-holder">
                                        <a href="#">
                                          <img src="images/projects-item3.jpg" alt="blog" class="img-fluid mt-2">
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-md-8">
                                      <div class="sidebar-post-content text-uppercase">
                                        <div class="post-meta fs-6 text-secondary">
                                          <span class="meta-date">jul 18, 2022</span>
                                        </div>
                                        <h5 class="post-title">
                                          <a href="#">Top 10 hacks for renovation </a>
                                        </h5>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="sidebar-post-item d-flex justify-content-center">
                                  <div class="row">
                                    <div class="col-md-4">
                                      <div class="image-holder">
                                        <a href="#">
                                          <img src="images/projects-item2.jpg" alt="blog" class="img-fluid mt-2">
                                        </a>
                                      </div>
                                    </div>
                                    <div class="col-md-8">
                                      <div class="sidebar-post-content text-uppercase">
                                        <div class="post-meta fs-6 text-secondary">
                                          <span class="meta-date">Aug 21, 2022</span>
                                        </div>
                                        <h5 class="post-title">
                                          <a href="#">Best tips for construction</a>
                                        </h5>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                        </div>
                    </aside>
                </div>
            </div>
        </div>
  </div>

<section id="contact" class="jarallax d-flex align-items-center padding-large" style="
background-image: url('../../assets/images/call-to-action.jpg');
width: 100%;
height: 567px;
background-repeat: no-repeat;
background-position: center;
">
    <div class="container" data-aos="fade-up">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <h3 class=" display-2 text-center text-white text-titlecase ">
             Check out our Chamber page for more details on investing.
          </h3>
          <div class="btn d-flex justify-content-center">
            <a href="#" class="btn-slide btn-medium btn-main-color hover-slide-right mt-5" routerLink="/chamber">
              <span class="text-titlecase text-white">Chamber
                <svg class="btn-arrow text-white" width="18" height="18">
                  <use xlink:href="#btn-arrow"></use>
                </svg>
              </span>
            </a>
          </div>
       </div>
    </div>
  </div>
</section>
