    <section id="main-banner " class="padding-large position-relative margin-large">
      <div class="container" data-aos="fade-up">
        <div class="row g-md-5 d-flex justify-content-center align-items-center timer" >
          <div class="col-lg-6">
            <h1 class="display-2 text-titlecase fw-bold text-black">
              Best construction company around the world.
            </h1>
            <p>
              Vehicula at eget a arcu neque, ultricies. Aliquet tempus vel
              amet eget egestas musus leo non.
            </p>
            <a href="#" class="btn-slide btn-medium btn-dark hover-slide-right my-5">
              <span class="text-titlecase">View Our Projects
                <svg class="btn-arrow text-white" width="18" height="18">
                  <use xlink:href="#btn-arrow"></use>
                </svg>
              </span>
            </a>
          </div>
          <div class="col-lg-6">
            <img src="../../assets/images/banner-img.png" alt="" class="img-fluid z-5">
          </div>
        </div>
      </div>
    </section>
    <div class="bg-pattern position-absolute top-0 end-0">
      <img src="images/bg-pattern1.png" alt="" class="img-fluid"
        style="background-repeat: no-repeat; overflow: hidden;">
    </div>

        <section id="service" class="bg-light padding-medium">
      <div class="container" data-aos="fade-up">
        <div class="row g-md-5 pt-4 timer" data-to="100" data-speed="1000">
          <div class="col-md-4 my-3">
            <div class="card text-center text-lg-start border-0">
              <div class="service-svg text-center m-auto m-md-0 pb-5">
                <div class="svg position-relative" >
                  <svg class="text-black" width="70" height="70">
                    <use xlink:href="#home"></use>
                  </svg>
                  <span class="circle-pattern position-absolute top-0 start-0"></span>
                  <span  class="circle-pattern position-absolute bottom-0 end-0"></span>
                </div>
              </div>
              <h4 class="fw-bold py-3 m-0">Building new homes</h4>
                <div class="card-text">
                  <p class="blog-paragraph fs-5">Vehicula at eget a arcu neque, ultricies liquet tempus vel amet eget
                    egestas arcu non.</p>
                </div>
                <a href="#" class="btn-normal my-2">
                  <span class="text-titlecase fw-bold fs-5">View Details
                    <svg class="btn-arrow" width="18" height="18">
                      <use xlink:href="#btn-arrow"></use>
                    </svg>
                  </span>
                </a>
            </div>
          </div>
          <div class="col-md-4 my-3">
            <div class="card text-center text-lg-start border-0">
              <div class="service-svg text-center m-auto m-md-0 pb-5"><div class="svg position-relative" >
                <svg class="text-black" width="60" height="60">
                  <use xlink:href="#design"></use>
                </svg>
                <span class="circle-pattern position-absolute top-0 start-0"></span>
                <span  class="circle-pattern position-absolute bottom-0 end-0"></span>
              </div></div>
              <h4 class="fw-bold py-3 m-0">Designing spaces</h4>
                <div class="card-text">
                  <p class="blog-paragraph fs-5">Vehicula at eget a arcu neque, ultricies liquet tempus vel amet eget
                    egestas arcu non.</p>
                </div>
                <a href="#" class="btn-normal my-2">
                  <span class="text-titlecase fw-bold fs-5">View Details
                    <svg class="btn-arrow" width="18" height="18">
                      <use xlink:href="#btn-arrow"></use>
                    </svg>
                  </span>
                </a>
            </div>
          </div>
          <div class="col-md-4 my-3">
            <div class="card text-center text-lg-start border-0">
              <div class="service-svg text-center m-auto m-md-0 pb-5">
                <div class="svg position-relative" >
                  <svg class="text-black" width="60" height="60">
                    <use xlink:href="#tools"></use>
                  </svg>
                  <span class="circle-pattern position-absolute top-0 start-0"></span>
                  <span  class="circle-pattern position-absolute bottom-0 end-0"></span>
                </div>
              </div>
              <h4 class="fw-bold py-3 m-0">Road maintenance</h4>
                <div class="card-text">
                  <p class="blog-paragraph fs-5">Vehicula at eget a arcu neque, ultricies liquet tempus vel amet eget
                    egestas arcu non.</p>
                </div>
                <a href="#" class="btn-normal my-2">
                  <span class="text-titlecase fw-bold fs-5">View Details
                    <svg class="btn-arrow" width="18" height="18">
                      <use xlink:href="#btn-arrow"></use>
                    </svg>
                  </span>
                </a>
            </div>
          </div>
        </div>
      </div>
    </section>
