    <section id="main-banner " class="padding-large position-relative margin-large">
      <div class="container" data-aos="fade-up">
        <div class="row g-md-5 d-flex justify-content-center align-items-center timer" >
          <div class="col-lg-6">
            <h3 class="display-2 text-titlecase fw-bold text-black">
              Lets Build Tomorrow With Khon`Structure:
            </h3>
            <p>
              Where People Come First and Every Project is long-Term Investment in Quality and Community.
            </p>
            <a class="btn-slide btn-medium btn-main-color hover-slide-right my-5" routerLink="/contact">
              <span class="text-titlecase text-white">Contact us now
                <svg class="btn-arrow text-white" width="18" height="18">
                  <use xlink:href="#btn-arrow"></use>
                </svg>
              </span>
            </a>
          </div>
          <div class="col-lg-6">
            <img src="../../assets/images/tipperplusExa.jpg" alt="" class=" z-5" style="border-radius: 10px;">
          </div>
        </div>
      </div>
    </section>
    <div class="bg-pattern position-absolute top-0 end-0">
      <img src="images/bg-pattern1.png" alt="" class="img-fluid"
        style="background-repeat: no-repeat; overflow: hidden;">
    </div>

        <section id="service" class="bg-light padding-medium">
      <div class="container" data-aos="fade-up">
        <div class="row g-md-5 pt-4 timer" data-to="100" data-speed="1000">
          <div class="col-md-4 my-3">
            <div class="card text-center text-lg-start border-0">
              <div class="service-svg text-center m-auto m-md-0 pb-5">
                <div class="svg position-relative" >
                  <svg class="text-black" width="70" height="70">
                    <use xlink:href="#home"></use>
                  </svg>
                  <span class="circle-pattern position-absolute top-0 start-0"></span>
                  <span  class="circle-pattern position-absolute bottom-0 end-0"></span>
                </div>
              </div>
              <h4 class="fw-bold py-3 m-0">Tipper Truck</h4>
                <div class="card-text">
                  <p class="blog-paragraph fs-5">This is the work hourse of any construction site and at our company we have the best brands.</p>
                </div>
                <a href="#" class="btn-normal my-2" routerLink="/home">
                  <span class="text-titlecase fw-bold fs-5">View Details
                    <svg class="btn-arrow" width="18" height="18">
                      <use xlink:href="#btn-arrow"></use>
                    </svg>
                  </span>
                </a>
            </div>
          </div>
          <div class="col-md-4 my-3">
            <div class="card text-center text-lg-start border-0">
              <div class="service-svg text-center m-auto m-md-0 pb-5"><div class="svg position-relative" >
                <svg class="text-black" width="60" height="60">
                  <use xlink:href="#design"></use>
                </svg>
                <span class="circle-pattern position-absolute top-0 start-0"></span>
                <span  class="circle-pattern position-absolute bottom-0 end-0"></span>
              </div></div>
              <h4 class="fw-bold py-3 m-0">Water Tank</h4>
                <div class="card-text">
                  <p class="blog-paragraph fs-5">Needed at every construction sites, reliable , less maintenance needed on the equipment .</p>
                </div>
                <a href="#" class="btn-normal my-2" routerLink="/home">
                  <span class="text-titlecase fw-bold fs-5">View Details
                    <svg class="btn-arrow" width="18" height="18">
                      <use xlink:href="#btn-arrow"></use>
                    </svg>
                  </span>
                </a>
            </div>
          </div>
          <div class="col-md-4 my-3">
            <div class="card text-center text-lg-start border-0">
              <div class="service-svg text-center m-auto m-md-0 pb-5">
                <div class="svg position-relative" >
                  <svg class="text-black" width="60" height="60">
                    <use xlink:href="#tools"></use>
                  </svg>
                  <span class="circle-pattern position-absolute top-0 start-0"></span>
                  <span  class="circle-pattern position-absolute bottom-0 end-0"></span>
                </div>
              </div>
              <h4 class="fw-bold py-3 m-0">Excavator</h4>
                <div class="card-text">
                  <p class="blog-paragraph fs-5">From digging , earthmoving , site preparations. Excavator usually first equipment.</p>
                </div>
                <a href="#" class="btn-normal my-2" routerLink="/home">
                  <span class="text-titlecase fw-bold fs-5"  >View Details
                    <svg class="btn-arrow" width="18" height="18">
                      <use xlink:href="#btn-arrow"></use>
                    </svg>
                  </span>
                </a>
            </div>
          </div>
        </div>
      </div>
    </section>

<section id="about-us" class=" padding-large position-relative ">
  <div class="container" data-aos="fade-up">
    <div class="section-header col-lg-4">
      <h2 class="text-uppercase mb-3 left-pattern">About us</h2>
      <h3 class="text-titlecase">Gain deeper insight into our company.</h3>
    </div>
    <div class="row g-md-5 flex-row-reverse d-flex justify-content-center align-items-top mt-5">
      <div class="col-lg-6 mt-0 justify-content-top">
        <img src="images/about2.jpg" alt="" class="img-fluid rounded-3">
        <h5 class="mt-3">Long-Term Approach and Consistency.</h5>
        <p class="fs-5 mt-2">
          When you build a product around ensuring
your retired parent is able to enjoy a good
life after retirement.
        </p>
        <a href="#" class="btn-slide btn-medium btn-main-color hover-slide-right my-3">
          <span class="text-titlecase text-white ">About Us
            <svg class="btn-arrow text-white" width="18" height="18">
              <use xlink:href="#btn-arrow"></use>
            </svg>
          </span>
        </a>
      </div>
      <div class="col-lg-6 mt-0">
        <img src="images/about1.jpg" alt="" class="img-fluid rounded-3">
      </div>
    </div>
  </div>
  <div class="bg-pattern position-absolute top-0 start-0">
    <img src="images/bg-pattern2.png" alt="" class="img-fluid"
      style="background-repeat: no-repeat; overflow: hidden;">
  </div>
</section>
<section id="our-achievement" class="padding-large">
  <div class="container" data-aos="fade-up">
    <div class="row g-4">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="counter-info text-center align-items-end">
          <div class="counter-number align-items-center">
            <h4 class="timer fw-bold m-0" data-to="100" data-speed="1000">
              780
            </h4>
          </div>
          <h2 class="counter-description text-uppercase ps-2 fw-semibold">
            Projects done
          </h2>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="counter-info text-center align-items-end">
          <div class="counter-number align-items-center">
            <h4 class="timer fw-bold m-0" data-to="100" data-speed="1000">
              127
            </h4>
          </div>
          <h2 class="counter-description text-uppercase ps-2 fw-semibold">
            Awards
          </h2>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="counter-info text-center align-items-end">
          <div class="counter-number align-items-center">
            <h4 class="timer fw-bold m-0" data-to="100" data-speed="1000">
              627
            </h4>
          </div>
          <h2 class="counter-description text-uppercase ps-2 fw-semibold">
            Total members
          </h2>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="counter-info text-center align-items-end">
          <div class="counter-number align-items-center">
            <h4 class="timer fw-bold m-0" data-to="10" data-speed="1000">
              28
            </h4>
          </div>
          <h2 class="counter-description text-uppercase ps-2 fw-semibold">
            Happy customers
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact" class="jarallax d-flex align-items-center padding-large" style="
        background-image: url('../../assets/images/call-to-action.jpg');
        width: 100%;
        height: 567px;
        background-repeat: no-repeat;
        background-position: center;
      ">
  <div class="container" data-aos="fade-up">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <h3 class=" display-2 text-center text-white text-titlecase ">
          Are you ready to explore investment opportunities with us?
        </h3>
        <div class="btn d-flex justify-content-center">
          <a href="#" class="btn-slide btn-medium btn-main-color hover-slide-right mt-5">
            <span class="text-titlecase text-white">Chamber
              <svg class="btn-arrow" width="18" height="18">
                <use xlink:href="#btn-arrow"></use>
              </svg>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

